/* css анимации */
@keyframes slide-up {
    0% {
        transform: translate(0, 70px);
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

h1 {
    text-align: center;
    opacity: 0;
    animation: slide-up 0.8s forwards ;
}

.paragraph {
    overflow: hidden;
    opacity: 0;
    animation: slide-up 0.8s forwards 0.3s;
}

/* js анимации */
.rules_of_the_game, .microchips, .shtukovins {
    opacity: 0;
    transform: translate(0, 70px);
    transition: all 0.8s ease 0s;
}

.heading_2, .heading_3, .paragraph_1, .paragraph_2 {
    opacity: 0;
    overflow: hidden;
    transform: translate(0, 70px);
    transition: all 0.8s ease 0s;
}



.heading_2._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.5s;
}

.heading_3._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 1s;
}

.paragraph_1._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.7s;
}

.paragraph_2._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 1.2s;
}

.heading_4 {
    text-align: center;
    opacity: 0;
    transform: translate(0, 70px);
    transition: all 0.8s ease 0s;
}

.paragraph_3 {
    opacity: 0;
    transform: translate(0, 70px);
    transition: all 0.8s ease 0s;
}

.paragraph_3._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.4s;
}

.rules_of_the_game._active, .heading_4._active, .microchips._active, .shtukovins._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0s;
}




.img_in_cards1, .img_in_cards2, .img_in_cards3, .img_in_cards4 {
    opacity: 0;
    transform: translate(0, 70px);
    transition: all 0.8s ease 0s;
}

.img_in_cards1._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.2s;
}

.img_in_cards2._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.35s;
}

.img_in_cards3._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.45s;
}

.img_in_cards4._active {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 0.8s ease 0.55s;
}