.svg-pos {
    position: absolute;
    margin: 1.5% 0 0 5%;
}

.log-button-position {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
    z-index: 999;
}

.login-button {
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 5% 12.2% 0 0 ;
    max-height: max-content;
    width: 174px;
    height: 43px;
    border: 1px solid #7e7e7e;
    background: #585858;
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.login-button:hover {
    background: #737373;
    border: 1px solid #999999;
}

.login-button p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    line-height: normal;
}