/* header {
    /* display: flex; 
    width: 100%;
    height: 8.5vh;
    position: absolute;
    background: #4d4d4d;
    color: #fff;
    border-bottom: 1px solid #737373;
    /* position: fixed; 
} */

.form-content {
    position: relative;
    float: right;
    width: 40%;
    height: 100%;
    /* max-height: 100%; */
}

/* .btn-position {
    height: auto;
} */

.login-button {
    /* display: flex;
    position: relative; */
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 140px;
    height: 27px;
    margin: 5% 12.2% 0 0 ;
    max-height: max-content;
    width: 174px;
    height: 43px;
    /* padding: 0 0 20px 0; */
    border: 1px solid #7e7e7e;
    background: #585858;
    /* background: #4D4D4D;
    border: 1px solid #737373; */
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.login-button:hover {
    background: #737373;
    border: 1px solid #999999;
}

.login-button p {
    margin: 0;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}