* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

/* свойства картинки на заднем фоне */
#BackI {
    background-image: url(../img/BackgroundImage.png);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-size: cover;
    position: fixed;
}

/* свойства основного блока */
main {
    position: absolute;
    width: calc(100% - 10%);
    /* height: 2000px; */
    margin: 25% 5% 0 5%;
    background-color: #4d4d4d;
    border: 1px solid #737373;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
}

/* свойства блока описания игры */
.description_of_the_game {
    position: relative;
    width: calc(95%-5%);
    padding: 10px 15px 10px;
    background: #DDDDDD;
    border: 1px solid #ffffff;
    color: #333;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    line-height: 30px;
    font-weight: bold;
    border-radius: 10px;
    max-width: 100%;
    opacity: 0;
    animation: slide-up 0.8s forwards 0.3s;
}

/* свойства блока правил игры */
.rules_of_the_game {
    position: relative;
    width: calc(95%-5%);
    padding: 10px 15px 10px;
    background: #DDDDDD;
    border: 1px solid #ffffff;
    color: #333;
    margin: 5%;
    text-align: justify;
    line-height: 30px;
    border-radius: 10px;
    max-width: 100%;
    font-weight: bold;
}