.paragraph_1._zoom5, .paragraph_2._zoom5 {
    font-size: 13px;
}

.heading_2._zoom5h, .heading_3._zoom5h {
    font-size: 20px;
    transition: all 0s ease 0s;
}

.microchips._zoomPadd, .shtukovins._zoomPadd {
    padding: 5px;
    transition: all 0s ease 0s;
}

.microchips._newActive, .shtukovins._newActive, .paragraph_1._newActive, .paragraph_2._newActive, .heading_2._newActive, .heading_3._newActive {
    opacity: 1;
    transform: translate(0, 0);
    transition: none;
}